<div class="knowledge-meter">
  <div *ngIf="selectedType === 'document'" class="document">
    <img src="./assets/img/document.svg" alt="" />
  </div>
  <div class="title">
    <h5>{{ knowledgeData.name }}</h5>
  </div>
  <div class="meter" *ngIf="selectedType === 'round'">
    <circle-progress
      [percent]="knowledgeData.percentage"
      [radius]="50"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#6495ed'"
      [innerStrokeColor]="'#00c3f7'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
</div>
