<div class="row story">
  <div class="row-year">
    <div class="round center">
      <h1>{{ story.year }}</h1>
    </div>
    <div class="line"></div>
  </div>
  <div class="row-detail">
    <div
      [ngClass]="this.isDetailOpen ? 'company-active' : 'company'"
      (click)="this.isDetailOpen = !this.isDetailOpen"
    >
      <h1>{{ story.company }}</h1>
      <img src="{{ story.logo }}" alt="asd" />
    </div>
    <app-story-projects
      *ngIf="this.isDetailOpen"
      [dataPrjts]="projects"
    ></app-story-projects>
  </div>
</div>
