<div class="container">
    <div class="content-text p-3 story-block">
        <div class="title pt-5 center">
            <h1>My IT story</h1>
            <br>
            <span class="text p-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacus ex, ullamcorper vel enim in, tincidunt mattis
            dolor. Nulla aliquet augue nunc, at volutpat diam pulvinar id. Praesent laoreet condimentum felis sit amet pulvinar.
            Vivamus viverra mauris erat, nec convallis velit iaculis sit amet. Praesent semper ante ut facilisis lacinia. Proin erat
            dui, volutpat sit amet arcu quis, condimentum euismod magna. Vestibulum sed arcu tincidunt, laoreet metus ac, venenatis
            arcu</span>
        </div>
        <div class="row story">
            <div class="row-year">
                <div class="round center">
                    <h1>XXXX</h1>
                </div>
                <div class="line"></div>
            </div>
            <div class="row-detail">
                <app-story-block></app-story-block>
            </div>
        </div>
    </div>
</div>