<div class="container skills-page">
  <div class="menu-bar">
    <h1>{{ this.data.thirdPageContent.menuBarTitle | uppercase }}</h1>
    <div class="skill-selection">
      <button
        *ngFor="
          let category of this.data.thirdPageContent.categories;
          let i = index
        "
        type="button"
        [ngClass]="
          this.activeIndex[i].active ? 'btn btn-light active' : 'btn btn-light'
        "
        id="{{ category.id }}"
        (click)="categoryClicked(category)"
      >
        {{ category.title | uppercase }}
      </button>
    </div>
  </div>
  <div class="detail-skills center">
    <h1>{{ this.detailTitle | uppercase }}</h1>
    <app-skill-detail
      [typeOfSkill]="this.selectedType"
      [listOfKnowledes]="this.selectedlistOfKnowledges"
    ></app-skill-detail>
  </div>
</div>
