<div class="container">
    <div class="photo-text">
        <div class="column center">
            <h1>{{ trans.sk.homePageContent.picture.name }}</h1>
            <h3><i>{{ trans.sk.homePageContent.picture.position }}</i></h3>
        </div>
        <div class="column center">
            
        </div>
    </div>
    <div class="content-text">
        <div class="column center">
            <h4>{{ trans.sk.homePageContent.intro.title }}</h4>
        </div>
        <div class="column center m-5">
            {{ trans.sk.homePageContent.intro.content }}
        </div>
    </div>
</div>
